<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServizioNumbersSoap" />
            </basicHttpBinding>
           
        </bindings>
        <client>
            <endpoint address="http://numbers.jemaka.it/NumberService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServizioNumbersSoap"
                contract="NumberService.ServizioNumbersSoap" name="ServizioNumbersSoap" />
           
        </client>
    </system.serviceModel>
</configuration>