<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServizioNumbersSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServizioNumbersSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://numbers.jemaka.it/NumberService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServizioNumbersSoap"
                contract="NumberService.ServizioNumbersSoap" name="ServizioNumbersSoap" />
            <endpoint address="http://numbers.jemaka.it/NumberService.asmx"
                binding="customBinding" bindingConfiguration="ServizioNumbersSoap12"
                contract="NumberService.ServizioNumbersSoap" name="ServizioNumbersSoap12" />
        </client>
    </system.serviceModel>
</configuration>